# âœ…ë²”ì£¼í˜• ë°ì´í„° ë‹¤ë£¨ê¸°

> * ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì€ ë¬¸ìì—´ ê°’ì„ ì…ë ¥ ê°’ìœ¼ë¡œ ë°›ì•„ë“¤ì´ì§€ ì•ŠìŒ

>  => **ë¬¸ìì—´ ê°’ë“¤ì„ ìˆ«ì í˜•ìœ¼ë¡œ ì¸ì½”ë”©í•œ ì´í›„ ë¨¸ì‹ ëŸ¬ë‹ í•™ìŠµ ì§„í–‰í•´ì•¼í•¨**

In [45]:
import pandas as pd
import numpy as np

df = pd.DataFrame([
                    ['pink','M',14,'class1'],
                    ['orange','S',8,'class2'],
                    ['skyblue','L',19,'class1']
                ])
df.columns = ['color','size','price','classlabel']
df

     color size  price classlabel
0     pink    M     14     class1
1   orange    S      8     class2
2  skyblue    L     19     class1

## 1ï¸âƒ£ ìˆœì„œê°€ ìˆëŠ” íŠ¹ì„± ë§¤í•‘

> * sizeíŠ¹ì„±ì„ ìˆœì„œëŒ€ë¡œ ì •ìˆ˜í˜•ìœ¼ë¡œ ì¸ì½”ë”©í•˜ëŠ” í•¨ìˆ˜ëŠ” ì—†ìŒ

> => **ì¸ì½”ë”© í•¨ìˆ˜ ì§ì ‘ ì •ì˜ í•„ìš”**

In [46]:
encoding_1 = {
            'S':1,
            'M':2,
            'L':3,
            }

df['size']=df['size'].map(encoding_1)
df

     color  size  price classlabel
0     pink     2     14     class1
1   orange     1      8     class2
2  skyblue     3     19     class1

## 2ï¸âƒ£ í´ë˜ìŠ¤ ë ˆì´ë¸” ì¸ì½”ë”©

> * ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì€ í´ë˜ìŠ¤ ë ˆì´ë¸”ì´ ì¸ì½”ë”©ë˜ì—ˆì„ ê±°ë¼ê³  ê°€ì •í•¨

> * => ìˆœì„œ íŠ¹ì„± ë§¤í•‘ê³¼ ë™ì¼í•œ ë°©ì‹ ì ìš©
    
> * => í´ë˜ìŠ¤ ë ˆì´ë¸”ì€ ìˆœì„œ ì—†ìŒ

### ğŸ“ŒMETHOD_1) ë§¤í•‘ ë”•ì…”ë„ˆë¦¬ ì‚¬ìš©í•œ ì¸ì½”ë”©

In [47]:
encoding_2 = {label:idx for idx,label in
             enumerate(np.unique(df['classlabel']))}

encoding_2

{'class1': 0, 'class2': 1}

In [48]:
df['classlabel'] = df['classlabel'].map(encoding_2)
df

     color  size  price  classlabel
0     pink     2     14           0
1   orange     1      8           1
2  skyblue     3     19           0

### ğŸ“ŒMETHOD_2)ì‚¬ì´í‚·ëŸ°ì˜ LabelEncoderí´ë˜ìŠ¤ ì‚¬ìš©

In [49]:
from sklearn.preprocessing import LabelEncoder

#ê°ì²´ ìƒì„±
target = LabelEncoder()

#ë©¤ë²„í•¨ìˆ˜ fit_transform ì‚¬ìš©
result = target.fit_transform(df['classlabel'].values)
result

array([0, 1, 0], dtype=int64)

## 3ï¸âƒ£ ìˆœì„œê°€ ì—†ëŠ” íŠ¹ì„±ì— ì›-í•« ì¸ì½”ë”© ì ìš©

### ğŸ“ŒMETHOD_1)get_dummies ë©”ì„œë“œ ì‚¬ìš©(ê°„í¸í•¨)

In [50]:
pd.get_dummies(df[['price','color','size']],
              columns = ['color'])

   price  size  color_orange  color_pink  color_skyblue
0     14     2             0           1              0
1      8     1             1           0              0
2     19     3             0           0              1

### ğŸ“ŒMETHOD_2)ì‚¬ì´í‚·ëŸ°ì˜ OneHotEncoder ì‚¬ìš©(ë³µì¡í•¨)

In [58]:
from sklearn.preprocessing import OneHotEncoder

X = df[['color','size','price']].values

oh_encoding = OneHotEncoder()
oh_encoding.fit_transform(X[:, 0].reshape(-1, 1)).toarray()

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])